<!-- ajout-item.html -->
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juste prix - Ajouter</title>
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, .menu-container, .message {
            color: white;
        }
    </style>
</head>
<body class="fade-in day-mode">
    {% include 'header.html' %}
    <div id="particles-js"></div>
    <div class="menu-container">
        <h2>Ajouter un article</h2>
        <form method="post" class="form-group">
            <dl>
                {{ render_field(form.lien, class_="form-control") }}
            </dl>
            <button type="submit" class="btn btn-primary mt-3">Confirmer</button>
        </form>
        {% if message %}
        <p class="message mt-4">{{ message }}</p>
        {% endif %}
    </div>
    <script src="static/js/particles.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>